.canvas {
  height: 100vh;
  width: 100vw;
}
.web3-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}
.connect-box {
  width: 1000px;
}
.connect-button {
  background-color: rgb(77, 7, 7);
}
