.app {
  height: 100%;
  width: 100%;
}
.canvas {
  height: 85%;
}
.header {
  height: 15%;
}

.web3-navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 5fr 1fr 5fr; */
  place-items: center;
  font-size: 12px;
  padding: 20px 50px 20px 50px;
}
.connect-box {
  padding-left: 40px;
  min-width: 350px;
}
.token-buttons {
  padding: 20px;
}
